body {
    font-family: helvetica, sans-serif;
    width: 350px;
    margin: auto;
    margin-top: 20vh;
}

label {
    font-weight: bold;
}

div {
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    width: 150px;
}

p {
    background: none;
    border: 1px solid darkgray;
    color: #5e2612;
    padding: 10px;
    visibility: hidden;
}
